<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".PFPausingHealthily"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="org.secuso.privacyfriendlypausinghealthily.activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="org.secuso.privacyfriendlypausinghealthily.activities.TimerActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.secuso.privacyfriendlypausinghealthily.activities.TimerActivity" />
        </activity>
        <activity
            android:name="org.secuso.privacyfriendlypausinghealthily.activities.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.secuso.privacyfriendlypausinghealthily.activities.tutorial.TutorialActivity"
            android:parentActivityName="org.secuso.privacyfriendlypausinghealthily.activities.TimerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.secuso.privacyfriendlypausinghealthily.activities.TimerActivity" />
        </activity>
        <activity
            android:name="org.secuso.privacyfriendlypausinghealthily.activities.TimerActivity"
            android:label="@string/activity_title_break_reminder"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="org.secuso.privacyfriendlypausinghealthily.activities.ManageExerciseSetsActivity"
            android:label="@string/activity_title_manage_exercise_sets"
            android:parentActivityName="org.secuso.privacyfriendlypausinghealthily.activities.TimerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.secuso.privacyfriendlypausinghealthily.activities.TimerActivity" />
        </activity>
        <activity
            android:name="org.secuso.privacyfriendlypausinghealthily.activities.ExerciseActivity"
            android:label=""
            android:parentActivityName="org.secuso.privacyfriendlypausinghealthily.activities.TimerActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.secuso.privacyfriendlypausinghealthily.activities.TimerActivity" />
        </activity>
        <activity
            android:name="org.secuso.privacyfriendlypausinghealthily.activities.EditExerciseSetActivity"
            android:label="@string/activity_title_edit_exercise_set"
            android:parentActivityName="org.secuso.privacyfriendlypausinghealthily.activities.ManageExerciseSetsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.secuso.privacyfriendlypausinghealthily.activities.ManageExerciseSetsActivity" />
        </activity>
        <activity
            android:name="org.secuso.privacyfriendlypausinghealthily.activities.ChooseExerciseActivity"
            android:label="@string/activity_title_choose_exercises"
            android:parentActivityName="org.secuso.privacyfriendlypausinghealthily.activities.EditExerciseSetActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.secuso.privacyfriendlypausinghealthily.activities.EditExerciseSetActivity" />
            >
        </activity>
        <activity
            android:name="org.secuso.privacyfriendlypausinghealthily.activities.AboutActivity"
            android:label="@string/activity_title_about"
            android:parentActivityName="org.secuso.privacyfriendlypausinghealthily.activities.TimerActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.secuso.privacyfriendlypausinghealthily.activities.TimerActivity" />
        </activity>
        <activity
            android:name="org.secuso.privacyfriendlypausinghealthily.activities.HelpActivity"
            android:label="@string/activity_title_help"
            android:parentActivityName="org.secuso.privacyfriendlypausinghealthily.activities.TimerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.secuso.privacyfriendlypausinghealthily.activities.TimerActivity" />
        </activity>

        <service
            android:name="org.secuso.privacyfriendlypausinghealthily.service.TimerService"
            android:enabled="true"
            android:exported="false" />

        <receiver android:name="org.secuso.privacyfriendlypausinghealthily.receivers.OnBootCompletedReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name="org.secuso.privacyfriendlypausinghealthily.receivers.TimerSchedulerReceiver"/>

        <service
            android:name=".backup.PFABackupService"
            android:enabled="true"
            android:exported="true"
            android:process=":backup"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="org.secuso.privacyfriendlybackup.api.pfa.PFAAuthService" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove" />

    </application>

</manifest>